*{
    margin: 0;
    padding: 0;
  }

h1{
    color: rgb(0, 0, 0);
    background-color: rgb(8, 255, 243);
    text-align: center;
}

h2{
    color: rgb(0, 0, 0);
    background-color: rgb(254, 255, 255);
    text-align: center;

}

body{
    background-color:#92a8d1;
  height: 13000
}

footer{
    font-weight: 300;
    height: 40px;
    text-align:center;
    background: #ccc;
    padding-top: 25px;
  }
  
  p{
    font-weight:150;
  }